<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="https" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="Off" />
                    </conditions>
                    <action type="Redirect" url="https://www.cyamoda.com" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <httpRedirect enabled="true" exactDestination="true" />
    </system.webServer>
</configuration>